{% macro list(report, labels, fields, values) %}

{% import '@SyliusResource/Macros/buttons.html.twig' as buttons %}

{% if values|length > 0 %}
    <table class="ui sortable stackable celled table">
        <thead>
        <tr>
            <th>{{ '#' }}</th>
            {% for label in labels %}
                <th>{{ ('odiseo_sylius_report.ui.table.'~label)|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for valueData in values %}
            <tr id="{{ loop.index }}">
                <td>{{ loop.index }}</td>
                {% for value in valueData %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <span>{{ 'odiseo_sylius_report.ui.there_are_no_reports_results'|trans }}</span>
{% endif %}

{% endmacro %}
