{% macro list(report, labels, fields, values) %}

{% import '@SyliusResource/Macros/buttons.html.twig' as buttons %}

{% if values|length > 0 %}
<div class="ui segment">
    <table class="ui sortable stackable celled table">
        <thead>
        <tr>
            <th>{{ 'id' }}</th>
            {% for label in labels %}
                <th>{{ label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for key,value in values %}
            <tr id="{{ loop.index }}">
                <td>{{ loop.index }}</td>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <span>{{ 'odiseo_sylius_report.ui.there_are_no_reports_results'|trans }}</span>
{% endif %}

{% endmacro %}
